# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jupyter
.ipynb_checkpoints/

# pdf files
*.pdf

# odf files
*.odt

Pasos An\303\241lisis de Proyectos de Kickstarter.txt

First request to the Twitter API.ipynb
!"05_Working_with_Data_Sources/Analyzing Kickstarter Projects/Pasos An\303\241lisis de Proyectos de Kickstarter.txt"

!07_Synthetic_Data/

